[project]
	description = Begnas:API 'dwit-self-test' project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sanjeev Mainali (sanzip)
[access "refs/for/refs/*"]
	read = group user/Sanjeev Mainali (sanzip)
	push = group user/Sanjeev Mainali (sanzip)
	label-Code-Review = -2..+2 group user/Sanjeev Mainali (sanzip)
	label-Verified = -1..+1 group user/Sanjeev Mainali (sanzip)
	rebase = group user/Sanjeev Mainali (sanzip)
	removeReviewer = group user/Sanjeev Mainali (sanzip)
	submit = group user/Sanjeev Mainali (sanzip)
[access "refs/heads/*"]
	read = group user/Sanjeev Mainali (sanzip)
	create = group user/Sanjeev Mainali (sanzip)
	push = +force group user/Sanjeev Mainali (sanzip)
	pushMerge = group user/Sanjeev Mainali (sanzip)
[access "refs/tags/*"]
	push = +force group user/Sanjeev Mainali (sanzip)
	pushTag = group user/Sanjeev Mainali (sanzip)
	pushSignedTag = group user/Sanjeev Mainali (sanzip)
